<!DOCTYPE html>
<html>
<head>
<title>Hannah Hunter Webpage</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Oswald:300" rel="stylesheet">
<link rel="stylesheet" type="text/css"href="file.css">
</head>
<body>
 <script src="myscript.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="otherscript.js "></script>
  <div id="header" class="div">
  <h1>Hannah Hunter</h1>
  </div>
  <div id="sidebar" class="div">
   <div id=" nav">
    <li><a href="#scratch">Scratch</a></li>
    <li><a href="#python">Python</a></li>
    <li><a href="#robotics">Robotics</a></li>
    </div>
  </div>
  <div id="content" class="div">
    <div id="scratch" class="page">
      <p> In the Girls Who code Summer Immersion program we started out using Scratch.
          Scratch is a drag and drop programming language that is meant to teach the basics
        of programming</p>
      <h3> In Scratch we built</p>
      <ul>
        <li> A program to intoduce ourselves</li>
        <li> A Tessalation program </li>
        <li> A knock-off version of Pong</li>
        <li> A side scroller game</li>
      </ul>
      <div>
            <p>published: 2017-07-11, 12:39.26</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
     <div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="Intro.PNG" style="width:100%">
    <div class="text">Introduction Program</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="Shape.PNG" style="width:100%">
    <div class="text">Tessaltion Program</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="Pong.PNG" style="width:100%">
    <div class="text">Knockoff Pong</div>
  </div>
   <div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="Game.PNG" style="width:100%">
    <div class="text">Side Scroller Game</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
 <span class="dot" onclick="currentSlide(4)"></span>
</div>
    </div>
    <div id="python" class="page">
     <p> We then moved to using python. Python is a powerful text-based programming language
      that is often used to teach begginers due to it's ease of use.</p
         <h3> In Scratch we built</p>
      <ul>
        <li> A shape drawing turtle</li>
        <li> A text-adventure game</li>
        <li> A photo filter</li>
      </ul>
    </div>
    <div id="robotics" class="page">
    </div>
  </div>

</body>
</html>
